@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

@import "tailwindcss";

@theme {
 --color-primary: #030014;
 --color-light-100: #cecefb;
 --color-light-200: #a8b5db;
 --color-gray-100: #9ca4ab;
 --color-dark-100: #0f0d23;
 --font-dm-sans: DM Sans, sans-serif;
 --breakpoint-xs: 480px;
 --background-image-hero-pattern: url("/hero-bg.png");
}

@layer base {
 body {
  font-family: "Tajawal", serif;
  font-optical-sizing: auto;
  background: #030014;
  color: white;
 }
}

@utility text-gradient {
 @apply bg-linear-to-r from-[#D6C7FF] to-[#AB8BFF] bg-clip-text text-transparent;
}

@utility fancy-text {
 -webkit-text-stroke: 5px rgba(206, 206, 251, 0.5);
 font-size: 190px;
 font-family: "Bebas Neue", sans-serif;
}

@utility hide-scrollbar {
 -ms-overflow-style: none;
 scrollbar-width: none;

 &::-webkit-scrollbar {
  display: none;
 }
}

@media (prefers-reduced-motion: no-preference) {
 a:nth-of-type(2) .logo {
  animation: logo-spin infinite 20s linear;
 }
}

.text-shadow {
 text-shadow: 1px 1px 2px black;
}
